.header{
    text-align: center;
}

.header img { 
    height: 80px;
}

.header nav{
    background-color: black;
    line-height: 40px;
    font-size: 20px;
    text-align: left;
    padding: 0px 35px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover {
    background-color: gray;
}